    <div id="Starter" class="container" style="display: block;" ng-repeat= "dessert in desserts">
        <div class="main-wrapper">
            <div class="wrapper">
                <div class="heading">
                    <h4>
                       {{dessert.name}}
                    </h4>
                </div>
                <div class="price"> <p>£{{dessert.price}}</p>
                </div>
				
            </div>
            <p class="w3-text-grey">{{dessert.description}}</p>
			<div class="add-cart-button">
				<span class="add-text">Add</span>
				<i class="fa fa-plus icons-plus" ng-click="addToBasket(dessert.ID, dessert.name, dessert.price)"></i>
			</div>
        </div>
        <hr>
    </div>