
    <div id="Starter" class="container" style="display: block;">
        <div class="main-wrapper" ng-repeat= "drink in drinks">
            <div class="wrapper">
                <div class="heading">
                    <h4>
                        {{drink.name}}
                    </h4>
                </div>
                <div class="price"> <p>£{{drink.price}}</p>
                </div>
            </div>
            <p class="w3-text-grey">{{drink.description}}</p>
            <div class="add-cart-button">
                <span class="add-text">Add</span>
                <i class="fa fa-plus icons-plus" ng-click="addToBasket(drink.ID, drink.name, drink.price)"></i>
            </div>
        </div>
        <hr>
    </div>