    <div id="Starter" class="container" style="display: block;">
        <div class="main-wrapper" ng-repeat= "main in mains">
            <div class="wrapper">
                <div class="heading">
                    <h4>
                        {{main.name}}
                    </h4>
                </div>
                <div class="price"> <p>£{{main.price}}</p>
                </div>
            </div>
            <p class="w3-text-grey">{{main.description}}</p>
            <div class="add-cart-button">
                <span class="add-text">Add</span>
                <i class="fa fa-plus icons-plus" ng-click="addToBasket(main.ID, main.name, main.price)"></i>
            </div>
        </div>
        <hr>
      </div>