<!DOCTYPE html>
<html>
<head>

    <title>Josh Menu Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
    <script src="joshmenutest.js"></script>
    <link rel="stylesheet" href="joshmenutest.css">
</head>

<body>
    <h1>Menu</h1>

    <div ng-app = "mainApp" ng-controller="menuController">
    
    <h3>Basket</h3>
    <ul id="basket">
        <li ng-repeat="option in basket">Name: {{option.Name}} | Quantity: {{option.Quantity}} | Price: £{{option.Price}} <input type="button" value="Remove 1" ng-click="removeItem()"></li>
    </ul>
    <p>Total Price: £{{price}}</p>
    <p id="submissionConfirmation">Your order has been submitted. Click <a href='/'>here</a> to return to the main menu</p>
    <input type="button" value= "submit order" ng-click="submitOrder()">
    <table>
        <tr>
            <th>Item Name</th>
            <th>Item Description</th>
            <th>Item Price</th>

        </tr>
        <tr ng-repeat= "item in items">
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>£{{item.price}}</td>
            <td><input type="button" ng-click="addToBasket(item.ID, item.name, item.price)" value="Add To Basket"></td>
            

        </tr>

    </table>
    </div>

</body>

</html>
