
    <div id="Starter" class="container" style="display: block;">
        <div class="main-wrapper" ng-repeat="starter in starters">
            <div class="wrapper">
                <div class="heading">
                    <h4>
                        {{starter.name}}
                    </h4>
                </div>
                <div class="price"> <p>£{{starter.price}}</p>
                </div>
            </div>
            <div >
                <p class="w3-text-grey">{{starter.description}}</p>
                <div class="add-cart-button">
                    <span class="add-text">Add</span>
                    <i class="fa fa-plus icons-plus" ng-click="addToBasket(starter.ID, starter.name, starter.price)"></i>
                </div>
            </div>
        </div>
        
        <hr>
      </div>