<!DOCTYPE html>
<html>
<head>
    <title>View Orders</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
    <script src="vieworders.js"></script>
</head>

<body>
    <a href="simplehomepage.html">Home</a>
    <a href="simplestaffpage.html">Staff</a>
    <h2>Orders</h2>

    <div ng-app="mainApp" ng-controller="ordersController">

        <table>
            <tr>
                <th>Order Number</th>
                <th>Table Number</th>
                <th>Assigned To</th>
                <th>Items | Quantity</th>
            </tr>
            <tr ng-repeat="order in orders">
                <td>{{order.orderNumber}}</td>
                <td>{{order.tableNumber}}</td>
                <td>{{order.staffFirstName}} {{order.staffSurname}}</td>
                <td>
                    <ul> 
                        <li ng-repeat="item in order.orderItems">{{item.name}} | {{item.quantity}}</li>
                    </ul>
                </td>
                <td><input type="button" value="Mark Order as Complete" ng-click="completeOrder(order.orderNumber)"></td>

            </tr>
            


        </table>



    </div>




</body>



</html>
